@import "./src/mixins.scss";

.cantina__container {
  @include container;
  justify-content: space-between;
  background-image: url("/src/assets/images/CantinaBand.jpg");
  position: relative;
}

@media screen and (min-width: 768px) {
  .cantina__container {
    background-image: url("/src/assets/images/CantinaBg2.jpg");
    background-size: cover;
  }
}
