@import "./src/mixins";

.chat {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  background-color: $blackBg;
  border: 2px solid $whiteGrey;
  height: 75vh;
  width: 95%;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-end;

  &__messages {
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: all 0.3s ease;

    &:hover {
      scrollbar-color: $inputBorder transparent;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      width: 80%;
      border: 1px solid $white;
      display: block;
      position: absolute;
      top: -2px;
    }

    &__avatar {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
    &__input {
      background-color: $inputBg;
      border: 1px solid $whiteGrey;
      border-radius: 4px;
      position: relative;
      padding: 0.5rem;
      width: 65%;
      color: $white;
    }
  }
}

@media screen and (min-width: 768px) {
  .chat {
    max-width: 40rem;
  }
}
