@import "./src/mixins.scss";
// @import "./src/animations.scss";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.chat {
  @include display;
  height: 75vh;
  width: 95%;
  align-items: center;
  margin-bottom: 1rem;
  justify-content: flex-end;
  // position: absolute;
  // right: -30rem;
  // bottom: -1rem;
  animation: fadeIn 1s ease forwards;

  &--fade {
    animation: fadeOut 1s ease forwards;
  }

  &__messages {
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    transition: all 0.3s ease;
    margin-bottom: 0.8rem;

    &:hover {
      scrollbar-color: $inputBorder transparent;
    }

    &__container {
      height: 100%;
      overflow-y: scroll;
      scrollbar-width: none;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 0;
    width: 100%;
    position: relative;

    &::before {
      content: "";
      width: 80%;
      border: 1px solid $white;
      display: block;
      position: absolute;
      top: -2px;
    }

    &__avatar {
      display: block;
      margin: auto;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    &__label {
      @include hiddenLabel;
    }

    &__input {
      background-color: $inputBg;
      border: 1px solid $whiteGrey;
      border-radius: 4px;
      position: relative;
      padding: 0.5rem;
      width: 65%;
      color: $white;
      font-size: 1rem;
    }

    &__button {
      border: none;
      background-color: transparent;
    }
  }
}

@media screen and (min-width: 768px) {
  .chat {
    max-width: 35rem;

    &__footer {
      width: 90%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .chat {
    animation: unset;
  }
}

@media screen and (min-width: 1440px) {
  .chat {
    &__footer {
      width: 80%;
    }
  }
}
