@import "./variables.scss";

@mixin display {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  background-color: $blackBg;
  border: 2px solid $whiteGrey;
}

@mixin container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

@mixin icon {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  background-size: cover;
  border: none;

  @media screen and (min-width: 768px) {
    width: 3rem;
    height: 3rem;
  }
}

@mixin validationButton {
  color: $white;
  background-color: $blackBg;
  border: 1px solid $whiteGrey;
  border-radius: 32px;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  transition: box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px $white;
  }
}
