$font: "Poppins", sans-serif;

$white: rgba(255, 255, 254, 1);
$whiteGrey: rgba(192, 193, 203, 0.75);
$blue: rgba(112, 220, 255, 0.8);
$green: rgba(47, 249, 36, 0.8);
$red: rgba(235, 33, 46, 0.8);

$blackBg: rgba(19, 19, 22, 0.75);
$inputBg: rgba(34, 34, 40, 1);
$inputBorder: rgba(84, 85, 99, 1);
